<footer class="page-footer grey darken-3">
   <!-- <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">StoryBooks</h5>
            <p class="grey-text text-lighten-4">Share your story with the world</p>
         </div>
         <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
               <li>
                  
               </li>
               <li>
                  
               </li>
         </div>
      </div>
   </div> -->
   <div class="footer-copyright">
      <div class="container">
         © 2017 StoryBooks
         <div class="right">
            <a class="grey-text text-lighten-3" href="/stories">Public Stories &bull;</a>
            <a class="grey-text text-lighten-3" href="/about"> About</a>
         </div>
      </div>
   </div>
</footer>