body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
}

.container {
   margin: 0 auto;
   max-width: 1280px;
   width: 90%;
}

.fixed-action-btn {
   bottom: 80px;
}

.nav-wrapper .fa-bars {
   font-size: 25px;
}

.fa-ellipsis-v, .fa-times {
   font-size: 18px;
}

.story-text {
   height: 130px;
}

.page-title {
   display: inline-flex;
   display: -webkit-inline-flex;
}

.sort-dropdown {
   margin-top: 35px;
   margin-right: 15px;
   display: inline-flex;
   display: -webkit-inline-flex;
}

.dash-status {
   text-transform: capitalize;
}

.welcome-page {
   margin-top: 20%;
}