<div class="center-align welcome-page">
   <h1>Welcome</h1>
   <p>Share your story with the world.</p>
   {{#if user}} {{else}}
   <a href="/auth/google" class="btn red darken-1">
      <i class="fa fa-google left"></i>Login in with Google
   </a>
   {{/if}}
</div>